/* implement background color switching based on media queries:
    - GREEN for smartphones (width < 800px)
    - BLUE for tablets (800px < width < 1200px)
    - RED for desktops (width > 1200px)
*/
.background-switch {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}
/*mobile*/
@media (max-width:800px) {
    /*@media all and (max-width:800px) {*/
    .background-switch {
        background: green;
    }
}
/*tablet*/
@media screen and (min-width:801px) and (max-width:1200px) {
    .background-switch {
        background:blue;
    }
}
/* desktop */
@media screen and (min-width:1201px) {
    .background-switch {
        background:red;
    }
}

